<div>
  <%= render "layouts/nav" %>

  <div class="dashboard">
    <div id="orders_chart" style="width: 100%; height: 400px;"></div>

    <script type="text/javascript" charset="utf-8">
    $(function () {
      new Highcharts.StockChart({
        chart: { renderTo: 'orders_chart' },
        rangeSelector: {
          selected: 0
        },
        title: { text: "<%= @stock.company %>" },
        xAxis: { 
          type: 'datetime'
        },
        yAxis: {
          title: { text: 'Stock Price'}
        },
        <% if @stock %>
          series: [{
            name: "<%= @stock.symbol %>",
            pointInterval: <%= 1.day * 1000 %>,
            pointStart: <%= 364.days.ago.to_i * 1000 %>,
            data: <%= @stock.prices_with_weekend %>,
            tooltip: {
              valueDecimals: 3
            }
          }]
        <% else %>
          series: <%= raw @series.to_json %>
        <% end %>
      });
    });
    </script>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-5 twitter">
      <h3>Tweets</h3>
      <% current_user.get_stocks_tweets.each do |tweet| %>
      <p><%= link_to tweet.text, tweet.url.to_s %></p>
      <% end %>
    </div>
    <div class="col-sm-5 articles">
      <h3>Articles</h3>
      <% current_user.get_stocks_articles.each do |article| %>
      <p><%= link_to article["snippet"], article["web_url"] %></p>
      <% end %>
    </div>
  </div>


</div>
