<div>
  <%= render "layouts/nav" %>
  <div class="container">
    <div class="col-sm-offset-2 col-sm-9" >

      <% if flash[:success] %>
        <div class="alert alert-success text-center" role="alert"><%= flash[:success] %></div>
      <% end %>
      <br>

      <br>
      <table class="table" id="stock_lists">

        <thead>
          <th>Company</th>
          <th>Symbol</th>
          <th>Last Price</th>
          <th></th>
        </thead>

        <tbody>

        <% @stocks.each do |stock| %>
          <tr class="<%= cycle("odd", "even")%>">
            <td><%= link_to stock.company, "stocks/#{stock.symbol}" %></td>
            <td><%= stock.symbol %></td>
            <td><%= number_to_currency(stock.last_price) %></td>
            <td><%= render_button_for(stock) %></td>
          </tr>
          <% end %> 
        </tbody>
      </table>

    </div>
  </div> 
</div>