<div>
  <%= render "layouts/nav" %>
  <div class="container">
    <div class="col-sm-offset-2 col-sm-6" >
      <% if flash[:success] %>
        <div class="alert alert-success text-center" role="alert"><%= flash[:success] %></div>
      <% end %>
      <table class="table">
        <thead>
          <th>Company</th>
          <th>Symbol</th>
          <th></th>
        </thead>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= link_to stock.company, "/?symbol=#{stock.symbol}" %></td>
            <td><%= stock.symbol %></td>
            <td>
              <%= form_for stock do |f| %>
                <%= f.hidden_field :id %>
                <%= f.submit :Follow, class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
   </div>
  </div> 
</div>