<% provide(:title, "#{@stock.symbol}")%>
<div class="row">
  <div class="middle col col-sm-offset-2 col-sm-8">
    <div id="orders_chart" class="orders-chart" style="width: 100%; height: 400px; margin:0">
      <div class="spin-container">
        <div class="spinner windcatcher" id="windcatcher">
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
        </div>
      </div>
    </div>
    
    <br>
    <div class="row">
      <div class="col col-sm-12">
        <table class="table sentiment-table">
          <tr>
            <td>Twitter Sentimental Analysis
              <span class="follow-button"> 
                <%= render_button_for(@stock) %>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @stock.percentage[:positive] %>%"></div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @stock.percentage[:negative] %>%"></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-6">
        <table class="table">
          
          <tr>
            <td>Previous Close</td>
            <td><%= number_to_currency(@stock.quote.previous_close) %></td>
          </tr>
          <tr>
            <td>Today's Open</td>
            <td><%= number_to_currency(@stock.quote.open) %></td>
          </tr>
          <tr>
            <td>Days Range</td>
            <td><%= @stock.quote.days_range %></td>
          </tr>
          <tr>
            <td>PE Ratio</td>
            <td><%= @stock.quote.pe_ratio %></td>
          </tr>
          <tr>
            <td>Volume</td>
            <td><%= @stock.quote.volume.to_i %></td>
          </tr>
        </table>
      </div>
      <div class="col col-sm-6">
        <table class="table"> 
          <tr>
            <td>Dividend Yield</td>
            <td><%= number_to_percentage(@stock.quote.dividend_yield, precision: 2) %></td>
          </tr>
          <tr>
            <td>Dividend Date</td>
            <td><%= @stock.quote.ex_dividend_date %></td>
          </tr>
          <tr>
            <td>Market Cap</td>
            <td>$<%= @stock.quote.market_capitalization %></td>
          </tr>
          <tr>
            <td>EPS</td>
            <td>$<%= @stock.quote.earnings_share %></td>
          </tr>
          <tr>
            <td>Change</td>
            <td><%= @stock.quote.change %> (<%= @stock.quote.changein_percent %>)</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


<div id="feed" class="feed">
<div role="tabpanel">
  <!-- Nav tabs -->
  <div class="nav-tab-holder">
    <ul class="nav nav-justified nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab"><i class="fa fa-weixin fa-lg"></i></a></li>
      <li role="presentation"><a href="#tweets" aria-controls="tweets" role="tab" data-toggle="tab"><i class="fa fa-twitter fa-lg"></i></a></li>
      <li role="presentation"><a href="#articles" aria-controls="articles" role="tab" data-toggle="tab"><i class="fa fa-newspaper-o fa-lg"></i></a></li>
    </ul>
    <center><h4 class="alert"> <%= @stock.company %></h4></center>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="chat">
      <ul>
        <%= render 'chatroom' %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="tweets">
      <ul>
        <% if @stock %>
          <% @stock.tweets.last(20).each do |tweet| %>
            <li><%= link_to tweet.text, tweet.url.to_s %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="articles">
      <ul>
        <% @stock.find_articles.each do |article| %>
          <li><%= link_to article["snippet"], article["web_url"] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
