<div class="thread">
  <div class="replies" class="text-center">
    <%= link_to forum_thread do %>
      <p><%= forum_thread.num_of_replies%></p>
      <p><%= forum_thread.num_of_replies == 1 ? "Reply" : "Replies" %> </p>
    <% end %>
  </div>
  <div class="replies" class="text-center">
    <%= link_to forum_thread do %>
      <p><%= forum_thread.impressionist_count(:filter=>:ip_address) %></p>
      <p><%= forum_thread.impressionist_count(:filter=>:ip_address) == 1 ? "View" : "Views" %> </p>
    <% end %>
  </div>
  <div class="thread_list">
    <h2 class="title">
      <%= link_to forum_thread.subject, forum_thread %>
      <%= link_to fa_icon("reply", text: "Reply"), "/forum_threads/#{forum_thread.id}/#forum_post_body", class: "btn btn-default pull-right" %>
      <% if current_user == forum_thread.user %>
        <%= link_to fa_icon("trash-o", text: "Delete"), forum_thread, method: :delete, data: { confirm: "Are you sure you want to destroy this thread?" }, class: "btn btn-default text-danger pull-right" %>
      <% end %>
    </h2>
    <p class="date">Created at <%= local_time_ago forum_thread.created_at %> by <%= link_to forum_thread.user.name, "#"  %></p>
  </div>
</div>


