<!DOCTYPE html>
<html>
<head>
  <title>Stock Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'jquery-1.4.2.min', 'rails', 'highcharts' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

  <%= yield %>

</body>
</html>