<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="container">
    <%= render "layouts/nav" %>

    <div class="row">
      <div class="col col-md-6 col-md-offset-3 flash-alert">
        <% flash.each do |key, value| %>
          <br>
          <button class="alert close" data-dismiss="alert" aria-hidden="true">×</button>
          <div class="text-center <%= flash_class(key) %>"><%= value %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>